body {
font-family: Arial, sans-serif;
padding: 15px;
width: 350px;
background: #111;
color: #eee;

}
h1 {
text-align: center;
margin-bottom: 15px;
}
#score-box {
font-size: 28px;
font-weight: bold;
padding: 10px;
text-align: center;
border-radius: 10px;
background: #222;
margin-bottom: 20px;
}

#results ul {
    list-style: none;
    padding: 0;
}

#results li {
    margin-bottom: 8px;
    padding: 6px;
    border-bottom: 1px solid #333;
    font-size: 14px;
}